.container-fluid{
    background:linear-gradient(to right, #eaeffe, #1841b9);
    .container{
        padding-left: 0;
    }
}
.head{
    .fa-search{
        color: rgba(255, 255, 255, 0.8);
    }
    h1{
        margin: 10px;
        font-size: 30px;
        font-family: 'Great Vibes', cursive;
    }
    img:not(.icon){
        height: 50px;
    }
    img.icon{
        width: 10%;
        max-width: 150px;
        margin: 30px;
        position: absolute;
        right: 0;
        bottom: 0;
    }
    .note{
        width: 50%
    }
}
@media (max-width:768px){
    .head{
        .note{
            width: 100%;
        }
    }
}
.btn{
    width: 200px;
}