.container-fluid{
    background:linear-gradient(to right, #eaeffe, #1841b9);
    
    .container{
        padding-left: 0;
    }
}
.form-inline{
    
    i{
        background-color: white;
        border-bottom-left-radius: 0 !important;
        border-top-left-radius: 0 !important;
        border-left: none;
        height: 38px;
        width: 38px;
        color: black;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 15px;
        cursor: pointer;

        &:hover{
            background-color: rgb(230, 230, 230);
        }
    }
    
}
.head{
    
    h1{
        margin: 10px;
        font-size: 35px;
        font-family: 'Great Vibes', cursive;
    }
    img:not(.icon){
        height: 50px;
    }
    img.icon{
        width: 10%;
        max-width: 150px;
        margin: 30px;
        position: absolute;
        right: 0;
        bottom: 0;
    }
    .note{
        width: 50%
    }
}
@media (max-width:768px){
    .head{
        .note{
            width: 100%;
        }
    }
}
.btn{
    width: 200px;
}