<div class="container-fluid">
    <div class="row head">
      <div class="col-sm-4">
        <h1 >Vika International</h1>
      </div>
      <div class="col-sm-4 d-flex justify-content-center align-items-center">
        <img src="../../assets/images/logo.png" alt="">
      </div>
      <div class="col-sm-4 d-inline-flex justify-content-end align-items-center">
        <i class="fas fa-search text-light"></i>
      </div>
      
    </div>
    <div class="container">
      <app-menu></app-menu>
    </div>
</div>


  <!-- <div class="d-flex align-items-center" style="height: 50vh;">
    <div class="d-flex flex-column note">
      <h3 style="font-weight: 300;">Профессиональное оборудование для вашего салона красоты</h3>
      <p>Закажите оборудование высокого качества для вашего бизнеса. </p>
      <button class="btn btn-primary">Связаться</button>
    </div>
  </div> -->

