<div class="footer p-3">
  <div class="container">
    <div class="row">
      <div class="col-sm-4 item">
        <label for="tel1">Оськина Виктория</label>
        <a id="tel1" href="tel:+79771807537">+7(977) 180-75-37</a>
      </div>
      <div class="col-sm-4 my-3">
        <img src="../../assets/images/logo.png" >
      </div>
      <div class="col-sm-4 d-flex justify-content-center align-items-center">
          <a ><i class="fab fa-whatsapp p-1" style="font-size: 40px;"></i></a>
          <a href="https://instagram.com/vika_international_?utm_source=ig_profile_share&igshid=17r16ukqcd71q" style="color:unset" target="blank"><i class="fab fa-instagram p-1" style="font-size: 40px;"></i></a>
      </div>
    </div>
    
    
    
  </div>
</div>
