<div class="container d-flex justify-content-center flex-wrap my-3" style="min-height:90vh">
  <div class="card rounded-0" style="width: 18rem;" *ngFor="let g of gs.goods">
    <img src="{{g.Image}}" class="card-img-top" >
    <div class="card-body">
      <h5 class="card-title">{{g.Name}}</h5>
      <p class="card-text">{{g.Description}}</p>
      <a  class="btn btn-primary mr-2" routerLink="/contacts">Купить</a>
      <a routerLink="/product/{{g.Id}}" class="btn btn-info">Подробнее</a>
    </div>
  </div>
</div>
