<div class="cart-item" *ngFor="let g of gs.book.Cart">
  <div class="justify-content-center">
    <img class="img-s" src="{{g.Good.Image}}">
  </div>
  <div>
    <p>{{g.Good.Name}}</p>
  </div>
  <div>
    <p>{{g.Good.Color}}</p>
  </div>
  <div style="text-align:right">
    <span >{{g.Good.Price * g.Count}}₽</span>
    <counter [Count]="gs.book" [Item]="g"></counter>
  </div>
</div>
<p class="mt-4" style="font-weight: 400; font-size:large">Сумма заказа: {{gs.getSum()}}₽</p>
<div class="d-flex mt-4" role="group">
  <button type="button" class="btn btn-primary mr-2" (click)="parent.nextStep()">Оформить заказ</button>
  <button type="button" class="btn btn-link text-danger" (click)="cleanCart()">Очистить</button>
</div>
