<div class="container my-3 d-flex flex-column align-items-centre" style="min-height: 80vh;">
  <div class="card">
    <div class="card-header">
      <h3>Контакты</h3>
    </div>
    <div class="card-body">
      <!-- <h5 class="card-title">Специальный заголовок</h5>
      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
      <a href="#" class="btn btn-primary">Переход куда-нибудь</a> -->
      <div class="my-2">
        <h5 class="d-block m-0 card-title" >Оськина Виктория</h5>
        <a href="tel:+79771807537">+7 (977) 180-75-37</a>
      </div>
      <div class="my-2" >
        <h5 class="d-block m-0 card-title" >Али Сабар</h5>
        <a href="tel:+79688072077" style="line-height: 20px;" id="tel2">+7 (968) 807-20-77</a>
        <a href="https://wa.me/79688072077" target="blank"><i style="font-size: 20px; color: rgb(37, 211, 102)" class="fab fa-whatsapp p-1" ></i></a>
      </div>
      <div class="my-2" >
          <a style="color:unset"  href="mailto:vikainternational@mail.ru "><h5 class="card-title">vikainternational@mail.ru</h5></a>
        </div>
      <div class="my-2" >
        <a  href="https://instagram.com/vika_international_?utm_source=ig_profile_share&igshid=17r16ukqcd71q" style="color:unset" target="blank"><h5 class="card-title d-inline">vika_international_  <i class="fab fa-instagram p-1" style="font-size: 20px;"></i></h5></a>
      </div>
    </div>
  </div>
  
</div>
