<div class="d-flex flex-column justify-content-center align-items-center">
  <div class="succsess d-flex flex-column justify-content-center align-items-center my-3">
    <div class="d-flex my-2">
      <i class="far fa-thumbs-up" style="font-size: 100px"></i>
    </div>
    <div class="d-flex py-3 text">
      <p>Успешно!</p>
    </div>
  </div>
  <div class="d-flex flex-column justify-content-center align-items-center my-3">
    <p>Номер Вашего заказа: {{gs.bookId}}</p>
    <p class="text-center">Спасибо за заказ! С Вами свяжутся в ближайшее время!</p>
  </div>
  <div class="d-flex my-3">
    <button type="submit" class="btn btn-primary" (click)="goHome()">На главную</button>
  </div>
</div>