<hr class="mb-0">
<div>
  <ul class="nav d-flex">
    <li class="nav-item">
      <a routerLink="/goods" class="nav-link active" href="#">Раздел 1</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Раздел 2</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Раздел 3</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Раздел 4</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Раздел 5</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Раздел 6</a>
    </li>
  </ul>
</div>