<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" [ngClass]="{'active':curAdd==0, 'bg-white':curAdd==0}" (click)="chAdd(0)">Добавить раздел</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [ngClass]="{'active':curAdd==1, 'bg-white':curAdd==1}" (click)="chAdd(1)">Изменить раздел</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [ngClass]="{'active':curAdd==2, 'bg-white':curAdd==2}" (click)="chAdd(2)">Изменить товар</a>
  </li>
</ul>
<div class="adds  bg-white">
  <add-section *ngIf="curAdd==0"></add-section>
  <update-section *ngIf="curAdd==1"></update-section>
  <update-good *ngIf="curAdd==2"></update-good>
</div>