<div class="container-fluid py-3 ">
  <form [formGroup]="sectionForm">
    <h3  style="font-weight:400">Добавление раздела</h3>
    <div class="form-group">
      <label  [ngClass]="{'text-danger':(submitted && f.Name.errors)}">Название раздела</label>
      <input [ngClass]="{'border-danger':(submitted && f.Name.errors)}" formControlName="Name" class="form-control"  placeholder="Название раздела">
      <small  class="form-text text-danger" *ngIf="submitted && f.Name.errors && f.Name.errors.required">Введите название раздела</small>
    </div>
    <div class="form-group">
      <label for="exampleInputEmail13" class="w-100" [ngClass]="{'text-danger':(submitted && !image)}">Изображение</label>
      <p class="img-text" *ngIf="image"><span>{{image.name}}</span> <i class="fa fa-times" aria-hidden="true" (click)="unload()"></i> </p>
      <input type="file" (change)="putFile($event)"  style="display:none" #fileload>
      <button *ngIf="!image" class="btn btn-link border-primary" (click)="fileload.click()">Загрузить картинку</button>
      <small  class="form-text text-danger" *ngIf="submitted && !image">Добавьте изображение</small>
      <small  class="form-text text-danger" *ngIf="invalidImage">Загрузите изображение .jpg</small>
    </div>
    <div class="goods">
      <h4>Товары раздела</h4>
      <div *ngFor="let g of goods; let i = index;">
        <div class="new-good d-flex flex-wrap justify-content-between" >
          <div class="form-group">
            <label  [ngClass]="{'text-danger':(submitted && g.Name=='')}">Название товара</label>
            <input [(ngModel)]="g.Name" [ngModelOptions]="{standalone: true}" [ngClass]="{'border-danger':(submitted && g.Name=='')}" class="form-control"  placeholder="Название товара">
            <small  class="form-text text-danger" *ngIf="submitted && g.Name==''">Введите название товара</small>
          </div>
          <div class="form-group">
            <label  [ngClass]="{'text-danger':(submitted && g.Color=='')}">Цвет товара</label>
            <input [(ngModel)]="g.Color" [ngModelOptions]="{standalone: true}" [ngClass]="{'border-danger':(submitted && g.Color=='')}" class="form-control"  placeholder="Цвет товара">
            <small  class="form-text text-danger" *ngIf="submitted && g.Color==''">Введите цвет товара</small>
          </div>
          <div class="form-group">
            <label for="exampleInputEmail13" class="w-100" [ngClass]="{'text-danger':(submitted && !image)}">Изображение</label>
            <p class="img-text" *ngIf="goodsFiles[i]"><span>{{goodsFiles[i].name}}</span> <i class="fa fa-times" aria-hidden="true" (click)="unload('good', i)"></i> </p>
            <input type="file" (change)="putFile($event, 'good', i)"  style="display:none" #gfileload>
            <button *ngIf="!goodsFiles[i]" class="btn btn-link border-primary" (click)="gfileload.click()">Загрузить картинку</button>
            <small  class="form-text text-danger" *ngIf="submitted && !goodsFiles[i]">Добавьте изображение</small>
            <small  class="form-text text-danger" *ngIf="goodsImageInvalids[i]">Загрузите изображение .jpg</small>
          </div>
          <div class="form-group">
            <label  [ngClass]="{'text-danger':(submitted && !g.Price)}">Цена товара</label>
            <input [(ngModel)]="g.Price" [ngModelOptions]="{standalone: true}" [ngClass]="{'border-danger':(submitted && !g.Price)}" class="form-control"  placeholder="Цена товара">
            <small  class="form-text text-danger" *ngIf="submitted && !g.Price">Введите цену товара</small>
          </div>
          
        </div>
        <div class="form-group">
          <label  [ngClass]="{'text-danger':(submitted && !g.Description)}">Описание товара</label>
          <textarea [(ngModel)]="g.Description" [ngModelOptions]="{standalone: true}" [ngClass]="{'border-danger':(submitted && !g.Description)}" class="form-control"  placeholder="Описание товара" rows="3"></textarea>
          <small  class="form-text text-danger" *ngIf="submitted && !g.Description">Введите описание товара</small>
        </div>
      </div>
      
      <button class="btn btn-link" (click)="addGood()">Добавить товар</button>
      <small  class="form-text text-danger" *ngIf="submitted && goods.length==0">Укажите хотя бы один товар</small>
    </div>
    

    <button type="submit" class="btn btn-primary" (click)="addSection()">Добавить</button>
  </form>
  
</div>

