.carousel-item{
    
    div{
        max-width: 600px;
    }
    .sale-head{
        font-size: 70px;
        font-weight: 300;
        text-transform: uppercase;
        margin-bottom: 5px;
    }
    .sale-sm-head{
        margin-top: 0;
        text-transform: uppercase;

    }
}
.carousel{
    background:linear-gradient(to right, #eaeffe, #1841b9);
}

@media(max-width:630px){
    .sale-head{
        font-size: 15vw !important;
    }
    .sale-sm-head{
        font-size: 8vw;
    }
}