<div *ngIf="good" class="container my-3 p-3" style="min-height:80vh">
  <div class="row">
    <div class="col-md-5">
      <img src="{{good.Image}}" class="rounded main">
    </div>
    <div class="col-md-7">
      <div class="d-flex flex-column">
        <h3 class="mt-3 mt-md-0">{{good.Name}}</h3>
        <!-- <div class="photoes" *ngIf="good.Photoes.length>0">
          <img src="{{p}}" class="photo" *ngFor="let p of good.Photoes" (click)=choosePhoto(p)>
        </div> -->
        <h6>Описание: {{good.Description}}</h6>
        <h4>Цвет: {{good.Color}}</h4>
        <h4>Цена: {{good.Price}}<i style="font-size: 20px" class="fas fa-ruble-sign"></i></h4>
        <div>
          <button class="btn btn-primary mr-2" (click)="gs.addCartProduct(good)">Купить</button>
          <button class="btn btn-info" (click)="goBack()">Назад</button>
        </div>
      </div>
    </div>
  </div>
</div>
