<form [formGroup]="userForm">
    <h3 class="text-center" style="font-weight:400">Восстановление пароля</h3>
    <div class="form-group">
        <label for="exampleInputEmail1" [ngClass]="{'text-danger':(submitted && f.Email.errors)}">Email</label>
        <input [ngClass]="{'border-danger':(submitted && f.Email.errors)}" formControlName="Email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Ваш email">
        <small  class="form-text text-danger" *ngIf="submitted && f.Email.errors && f.Email.errors.required">Введите email</small>
        <small id="emailHelp1" class="form-text text-danger" *ngIf="submitted && f.Email.errors && f.Email.errors.email">Некорректный email</small>
    </div>
    <div class="alert alert-info d-flex justify-content-between" *ngIf="showInfo" role="alert">
        Новый пароль был выслан на ваш email. Его можно изменить в личном кабинете.
    </div>
    <div class="alert alert-danger d-flex justify-content-between" *ngIf="showError" role="alert">
        Введенный email не существует
    </div>
    <button *ngIf="!showInfo" type="submit" class="btn btn-primary" (click)="remember()">Восстановить</button>
  </form>
  