<div class="container-fluid py-3">
  <div class="section" *ngFor="let s of sales; let i = index;">
    <h3  style="font-weight:400">{{s.Name}}</h3>
    <div class="form-group">
      <label  [ngClass]="{'text-danger':s.Name==''}">Название раздела</label>
      <input [(ngModel)]="s.Name" [ngModelOptions]="{standalone: true}" [ngClass]="{'border-danger':s.Name==''}" class="form-control"  placeholder="Название раздела">
      <small  class="form-text text-danger" *ngIf="s.Name==''">Название не может быть пустым</small>
    </div>
    <div class="form-group">
      <label for="exampleInputEmail13" class="w-100" [ngClass]="{'text-danger':(submitted && !image)}">Изображение</label>
      <div class="d-flex align-items-start my-2">
        <img *ngIf="!!s.Image" class="w-25" src="{{s.Image}}"><i *ngIf="!!s.Image" class="fa fa-times" aria-hidden="true" (click)="unloadLink(s)"></i>
      </div>
      <p class="img-text" *ngIf="goodsFiles[i]"><span>{{goodsFiles[i].name}}</span> <i class="fa fa-times" aria-hidden="true" (click)="unload(i)"></i> </p>
      <input type="file" (change)="putFile($event, i)"  style="display:none" #gfileload>
      <button *ngIf="!goodsFiles[i] && !s.Image" class="btn btn-link border-primary" (click)="gfileload.click()">Загрузить картинку</button>
      <small  class="form-text text-danger" *ngIf="!goodsFiles[i] && !s.Image">Добавьте изображение</small>
      <small  class="form-text text-danger" *ngIf="goodsImageInvalids[i]">Загрузите изображение .jpg</small>
    </div>
    <div class="form-group">
      <label for="exampleInputEmail13" [ngClass]="{'text-danger':(s.Price=='')}">Цена акции</label>
      <input [ngClass]="{'border-danger':(s.Price=='')}" [(ngModel)]="s.Price" [ngModelOptions]="{standalone: true}" class="form-control" id="exampleInputEmail13"  placeholder="Цена акции">
      <small  class="form-text text-danger" *ngIf="s.Price==''">Введите цену акции</small>
    </div>
    <div class="form-group">
      <label  [ngClass]="{'text-danger':(s.Description=='')}">Описание акции</label>
      <textarea [(ngModel)]="s.Description" [ngModelOptions]="{standalone: true}"  [ngClass]="{'border-danger':(s.Description=='')}" class="form-control"  placeholder="Описание акции" rows="3"></textarea>
      <small  class="form-text text-danger" *ngIf="s.Description==''">Введите описание акции</small>
    </div>
    
    

    <button *ngIf="checkChanges(s, i) || goodsFiles[i]" type="submit" class="btn btn-primary" (click)="saveChanges(s, i)">Сохранить</button>
  </div>
</div>