<div class="container-fluid py-3">
  <div class="section" *ngFor="let s of sales; let i = index;">
    <h3  style="font-weight:400">{{s.Name}}</h3>
    <div class="form-group">
      <label  [ngClass]="{'text-danger':s.Name==''}">Название раздела</label>
      <input [(ngModel)]="s.Name" [ngModelOptions]="{standalone: true}" [ngClass]="{'border-danger':s.Name==''}" class="form-control"  placeholder="Название раздела">
      <small  class="form-text text-danger" *ngIf="s.Name==''">Название не может быть пустым</small>
    </div>
    <div class="form-group">
      <label for="exampleInputEmail13" [ngClass]="{'text-danger':s.Image==''}">Изображение</label>
      <input [(ngModel)]="s.Image" [ngModelOptions]="{standalone: true}" [ngClass]="{'border-danger':s.Image==''}" class="form-control" id="exampleInputEmail13"  placeholder="Ссылка на зображение раздела">
      <small  class="form-text text-danger" *ngIf="s.Image==''">Изображение не может отсутствовать</small>
    </div>
    <div class="form-group">
      <label for="exampleInputEmail13" [ngClass]="{'text-danger':(s.Price=='')}">Цена акции</label>
      <input [ngClass]="{'border-danger':(s.Price=='')}" [(ngModel)]="s.Price" [ngModelOptions]="{standalone: true}" class="form-control" id="exampleInputEmail13"  placeholder="Цена акции">
      <small  class="form-text text-danger" *ngIf="s.Price==''">Введите цену акции</small>
    </div>
    <div class="form-group">
      <label  [ngClass]="{'text-danger':(s.Description=='')}">Описание акции</label>
      <textarea [(ngModel)]="s.Description" [ngModelOptions]="{standalone: true}"  [ngClass]="{'border-danger':(s.Description=='')}" class="form-control"  placeholder="Описание акции" rows="3"></textarea>
      <small  class="form-text text-danger" *ngIf="s.Description==''">Введите описание акции</small>
    </div>
    
    

    <button *ngIf="checkChanges(s)" type="submit" class="btn btn-primary" (click)="saveChanges(s)">Сохранить</button>
  </div>
</div>