<div class="cart-item" *ngFor="let g of gs.book.Cart">
  <div class="justify-content-center">
    <img class="img-s" src="{{g.Good.Image}}">
  </div>
  <div>
    <p>{{g.Good.Name}}</p>
  </div>
  <div>
    <p>{{g.Good.Color}}</p>
  </div>
  <div style="text-align:right">
    <span >{{g.Good.Price * g.Count}}₽</span>
    <p>Количество: {{g.Count}}</p>
  </div>
</div>
<p class="mt-4" style="font-weight: 400; font-size:large">Сумма заказа: {{gs.getSum()}}₽</p>
<form class="form my-3 py-3 px-3">
  <div class="d-flex align-items-center">
    <p>Контакные данные</p>
    <button class="btn btn-link" (click)='chContact()'>Изменить</button>
  </div>
  <div class="form-group">
    <label for="InputName">Имя</label>
    <input type="text" class="form-control" id="InputName" placeholder="{{gs.book.User.Name}}" readonly>
  </div>
  <div class="form-group">
    <label for="InputEmail">Email</label>
    <input type="email" class="form-control" id="InputEmail" placeholder="{{gs.book.User.Email}}" readonly>
  </div>
  <div class="form-group">
    <label for="InputPhone">Телефон</label>
    <input type="number" class="form-control" id="InputPhone" placeholder="{{gs.book.User.Phone}}" readonly>
  </div>
  <div class="d-flex align-items-center">
    <p>Выбранный способ доставки</p>
    <button class="btn btn-link" (click)='chPayDel()'>Изменить</button>
  </div>
  <div class="form-check mb-2" *ngIf="gs.book.DeliverType=='pickup'">
    <input class="form-check-input" type="radio" name="DeliverTypes" id="Pickup" value="pickup" checked>
    <label class="form-check-label" for="Pickup">Самовывоз</label>
  </div>
  <div class="form-check mb-2" *ngIf="gs.book.DeliverType=='delivery'">
    <input class="form-check-input" type="radio" name="DeliverTypes" id="Delivering" value="delivery" checked>
    <label class="form-check-label" for="Delivering">Доставка</label>
  </div>
  <div *ngIf="gs.book.DeliverType=='delivery'">
    <form>
      <div class="form-group">
        <label for="InputCountry">Страна</label>
        <input type="text" class="form-control" id="InputCountry" placeholder="{{gs.book.Country}}" readonly>
      </div>
      <div class="form-group">
        <label for="InputCity">Город</label>
        <input type="text" class="form-control" id="InputCity" placeholder="{{gs.book.City}}" readonly>
      </div>
      <div class="form-group">
        <label for="InputAddress">Улица, дом, квартира</label>
        <input type="text" class="form-control" id="InputAddress" placeholder="{{gs.book.Address}}" readonly>
      </div>
      <div class="form-group">
        <label for="InputPostIndex">Почтовый индекс</label>
        <input type="text" class="form-control" id="InputPostIndex" placeholder="{{gs.book.PostIndex}}" readonly>
      </div>
    </form>
  </div>
  <div class="d-flex align-items-center">
    <p>Выбранный способ оплаты</p>
    <button class="btn btn-link" (click)='chPayDel()'>Изменить</button>
  </div>
  <div class="form-check mb-2" *ngIf="gs.book.PayType=='cash'">
    <input class="form-check-input" type="radio" name="Radioс" id="Cash" value="cash" checked>
    <label class="form-check-label" for="Cash">Наличные</label>
  </div>
  <div class="form-check  mb-2" *ngIf="gs.book.PayType=='card'">
    <input class="form-check-input" type="radio" name="Radioс" id="Card" value="card" checked>
    <label class="form-check-label" for="Card">Банковская карта</label>
  </div>
  <button type="submit" class="btn btn-primary" (click)="parent.nextStep()">Далее</button>
</form>