<div class="container-fluid py-3 ">
  <form [formGroup]="saleForm">
    <h3  style="font-weight:400">Добавление акции</h3>
    <div class="form-group">
      <label  [ngClass]="{'text-danger':(submitted && f.Name.errors)}">Название акции</label>
      <input [ngClass]="{'border-danger':(submitted && f.Name.errors)}" formControlName="Name" class="form-control"  placeholder="Название раздела">
      <small  class="form-text text-danger" *ngIf="submitted && f.Name.errors && f.Name.errors.required">Введите название раздела</small>
    </div>
    <div class="form-group">
      <label for="exampleInputEmail13" [ngClass]="{'text-danger':(submitted && f.Image.errors)}">Изображение</label>
      <input [ngClass]="{'border-danger':(submitted && f.Image.errors)}" formControlName="Image" class="form-control" id="exampleInputEmail13"  placeholder="Ссылка на зображение раздела">
      <small  class="form-text text-danger" *ngIf="submitted && f.Image.errors && f.Image.errors.required">Введите ссылку на изображение</small>
    </div>
    <div class="form-group">
      <label for="exampleInputEmail13" [ngClass]="{'text-danger':(submitted && f.Price.errors)}">Цена акции</label>
      <input [ngClass]="{'border-danger':(submitted && f.Price.errors)}" formControlName="Price" class="form-control" id="exampleInputEmail13"  placeholder="Цена акции">
      <small  class="form-text text-danger" *ngIf="submitted && f.Price.errors && f.Price.errors.required">Введите цену акции</small>
    </div>
    <div class="form-group">
      <label  [ngClass]="{'text-danger':(submitted && f.Description.errors)}">Описание акции</label>
      <textarea formControlName="Description" [ngClass]="{'border-danger':(submitted && f.Description.errors)}" class="form-control"  placeholder="Описание акции" rows="3"></textarea>
      <small  class="form-text text-danger" *ngIf="submitted && f.Description.errors">Введите описание акции</small>
    </div>
    
    

    <button type="submit" class="btn btn-primary" (click)="addSale()">Добавить</button>
  </form>
  
</div>
